.login_container {
    position: relative;
    display: block;
    align-self: center;
    width: 90vw;
    margin: 2rem;
}
.login_title {
    text-align: center;
    background-color: slategrey;
    padding: 1rem;
    margin-top: 2rem;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 600;
    color: white;
}
.login_form {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 1rem;
    background-color: slategrey;
    input {
        max-width: 500px;
        padding: 1rem;
        outline: none;
        margin: 2rem auto;
    }
}