@use '../../variables' as vars;

.cabinet_page {
    height: 100vh;
}

.cabinet_container {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    padding: 2rem;
    // border: 3px solid;
    img {
        border-radius: 50%;
        width: 150px;
        height: 150px;
    }
    .cabinet_container_content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        p {
            font-size: 2rem;
        }
    }
}

.cabinet_bg_default {
    .cabinet_container{
        background-color: vars.$color-background-default;
        color: vars.$color-text-default;
    }
    * {
        color: vars.$color-text-default;
        border-color: vars.$color-borders-default;
    }
}
.cabinet_bg_earth {
    .cabinet_container {
        background-color: vars.$color-background-earth;
        color: vars.$color-text-earth;
    }
    * {
        border-color: vars.$color-borders-earth;
        color: vars.$color-text-earth;
    }
}
.cabinet_bg_vintage {
    .cabinet_container {
        background-color: vars.$color-background-vintage;
        color: vars.$color-text-vintage;
    }
    * {
        border-color: vars.$color-borders-vintage;
        color: vars.$color-text-vintage;
    }
}
.cabinet_bg_cosmic {
    .cabinet_container {
        background-color: vars.$color-background-cosmic;
        color: vars.$color-text-cosmic;
    }
    * {
        border-color: vars.$color-borders-cosmic;
        color: vars.$color-text-cosmic;
    }
}
.cabinet_bg_warm {
    .cabinet_container {
        background-color: vars.$color-background-warm;
        color: vars.$color-text-warm;
    }
    * {
        border-color: vars.$color-borders-warm;
        color: vars.$color-text-warm;
    }
}
.cabinet_bg_modern {
    .cabinet_container {
        background-color: vars.$color-background-modern;
        color: vars.$color-text-modern;
    }
    * {
        border-color: vars.$color-borders-modern;
        color: vars.$color-text-modern;
    }
}