@use '../../variables' as vars;

.navigation_container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    margin: 0;
    padding: 1rem;
    // height: fit-content;
    justify-content: space-between;
    -webkit-box-shadow: 0px 6px 15px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 6px 15px 5px rgba(0,0,0,0.5);
    box-shadow: 0px 6px 15px 5px rgba(0,0,0,0.5);
    z-index: 1000;
}
.nav_bg_default {
    background-color: vars.$color-nav-default;
    color: vars.$color-text-default;
    li {
        border-color: vars.$color-borders-default;
    }
    a {
        color: vars.$color-text-default;
    }
    a.navigation_link_active {
        color: vars.$color-elements-default;
    }
    svg {
        color: vars.$color-elements-default;
    }
}
.nav_bg_earth {
    background-color: vars.$color-nav-earth;
    color: vars.$color-text-earth;
    li {
        border-color: vars.$color-borders-earth;
    }
    a {
        color: vars.$color-text-earth;
    }
    a.navigation_link_active {
        color: vars.$color-elements-earth;
    }
}
.nav_bg_vintage {
    background-color: vars.$color-nav-vintage;
    color: vars.$color-text-vintage;
    li {
        border-color: vars.$color-borders-vintage;
    }
    a {
        color: vars.$color-text-vintage;
    }
    a.navigation_link_active {
        color: vars.$color-elements-vintage;
    }
}
.nav_bg_cosmic {
    background-color: vars.$color-nav-cosmic;
    color: vars.$color-text-cosmic;
    li {
        border-color: vars.$color-borders-cosmic;
    }
    a {
        color: vars.$color-text-cosmic;
    }
    a.navigation_link_active {
        color: vars.$color-elements-cosmic;
    }
}
.nav_bg_warm {
    background-color: vars.$color-nav-warm;
    color: vars.$color-text-warm;
    li {
        border-color: vars.$color-borders-warm;
    }
    a {
        color: vars.$color-text-warm;
    }
    a.navigation_link_active {
        color: vars.$color-elements-warm;
    }
}
.nav_bg_modern {
    background-color: vars.$color-nav-modern;
    color: vars.$color-text-modern;
    li {
        border-color: vars.$color-borders-modern;
    }
    a {
        color: vars.$color-text-modern;
    }
    a.navigation_link_active {
        color: vars.$color-elements-modern;
    }
}
.nav_color_default {
    color: vars.$color-text-default;
}
.nav_color_earth {
    color: vars.$color-text-earth;
}
.nav_color_vintage {
    color: vars.$color-text-vintage;
}
.nav_color_cosmic {
    color: vars.$color-text-cosmic;
}
.nav_color_warm {
    color: vars.$color-text-warm;
}
.nav_color_modern {
    color: vars.$color-text-modern;
}
.nav_border_default {
    border-color: vars.$color-borders-default !important;
}
.nav_border_earth {
    border-color: vars.$color-borders-earth !important;
}
.nav_border_vintage {
    border-color: vars.$color-borders-vintage !important;
}
.nav_border_cosmic {
    border-color: vars.$color-borders-cosmic !important;
}
.nav_border_warm {
    border-color: vars.$color-borders-warm !important;
}
.nav_border_modern {
    border-color: vars.$color-borders-modern !important;
}
.navigation_links {
    position: relative;
    display: none;
    flex: 1 1 0%;
    justify-content: flex-start;
    font-weight: 400;
}
.navigation_link {
    position: relative;
    display: flex;
    align-items: center;
    font-family: "Archivo Black", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    font-size: 1.3rem;
    // padding: 1rem;
    // margin: 0 1rem;
    // color: white;
    font-weight: 600;
    text-decoration: none;
    transition: all 100ms ease-out;
    &:hover {
        transition: all 100ms ease-in;
        transform: scale(1.05);
        opacity: .7;
    }
    svg {
        font-size: 2rem;
        margin: 1rem;
    }
}
.navigation_link_active {
    position: relative;
    display: none;
    align-items: center;
    font-family: "Archivo Black", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    font-size: 1.3rem;
    // padding: 1rem;
    // margin: 0 1rem;
    color: #3f798d;
    font-weight: 600;
    svg {
        font-size: 2rem;
        margin: 1rem;
    }
}
.navigation_btn {
    display: block;
    border: none;
    background-color: inherit;
    font-size: 2rem;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    :hover {
        cursor: pointer;
    }
}
.navbar_drop_container {
    display: block;
    position: absolute;
    top: 5rem;
    width: auto;
    left: 0;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    border-radius: 0 0 1rem 0;
}
.navbar_drop_list {
    text-align: center;
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
    padding: 1rem;
}
.navbar_drop_list_item {
    // margin-top: 1rem; /* 16px */
    // margin-bottom: 1rem; /* 16px */
    // padding-top: 1rem; /* 16px */
    // padding-bottom: 1rem; /* 16px */
    padding: 0.8rem;
    border-bottom-width: 1px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    svg {
        margin-right: 1rem;
        font-size: 2rem;
    }
    &:hover {
        border-radius: 0.25rem;
    }
    &:active {
        border-radius: 0.25rem;
    }
    // border-slate-800 hover:bg-slate-800 hover:rounded
}
.navigation_avatar {
    text-align: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border: 3px solid black;
    border-radius: 50%;
    display: flex;
    justify-items: center;
    justify-content: center;
    font-size: 2rem;
    transition: all 100ms ease-out;
    &:hover {
        transition: all 100ms ease-in;
        transform: scale(1.05);
        opacity: .7;
        cursor: pointer;
    }
}
.umenu_drop_container {
    display: block;
    position: absolute;
    top: 5rem;
    width: auto;
    right: 0;
    border-radius: 0 0 0 1rem;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

//lg
@media (min-width: 1024px) {
    .navigation_container {
        padding: 0;
    }
    .navigation_links {
        display: flex;
    }
    .navigation_link {
        font-size: 1.2rem;
        svg {
            font-size: 1.5rem;
            margin-right: 0.5rem;
        }
    }
    .navigation_link_active {
        font-size: 1.2rem;
        display: flex;
        svg {
            font-size: 1.5rem;
            margin-right: 0.5rem;
        }
    }
    .navbar-drop-container {
        display: none;
    }
    .navigation_btn {
        display: none;
    }
}

//md
@media (min-width: 768px) {
    .navigation_container {
        padding: 1.5rem;
    }
}

//sm
@media (min-width: 640px) {
    .navigation_container {
        padding: 1rem;
    }
}