// colors
// theme default
$color-text-default: #333333;
$color-nav-default: #6aaabf;
$color-borders-default: #c5d2e3;
$color-background-default: #F7FAFC;
$color-elements-default: #2B6CB0;
// theme earth
$color-text-earth: #3E362E;
$color-nav-earth: #865D36;
$color-borders-earth: #93785B;
$color-background-earth: #AC8968;
$color-elements-earth: #A69080;
// theme vintage
$color-text-vintage: #FBE9D0;
$color-nav-vintage: #244855;
$color-borders-vintage: #E64833;
$color-background-vintage: #874F41;
$color-elements-vintage: #90AEAD;
// theme cosmic
$color-text-cosmic: #D3D9D4;
$color-nav-cosmic: #212A31;
$color-borders-cosmic: #124E66;
$color-background-cosmic: #2E3944;
$color-elements-cosmic: #748D92;
// theme warm
$color-text-warm: #8E8D8A;
$color-nav-warm: #D8C3A5;
$color-borders-warm: #E85A4F;
$color-background-warm: #EAE7DC;
$color-elements-warm: #E98074;
// theme modern
$color-text-modern: #B19F9E;
$color-nav-modern: #CEBC81;
$color-borders-modern: #479761;
$color-background-modern: #19181A;
$color-elements-modern: #A16E83;